
.top-25{
  curser:pointer;
}

.table-image{
  max-height: 25px;
}

.card-image{
  max-height: 5vh;
}
.table-image{
    max-height: 3vh;
}

.img-card{

  text-shadow:black 1px 0 10px;
  text-shadow: 
  1px 0px 1px black, 0px 1px 1px black, 
  2px 1px 1px black, 1px 2px 1px black,
  3px 2px 1px black, 2px 3px 1px black,
  4px 3px 1px black, 3px 4px 1px black,
  5px 4px 1px black, 4px 5px 1px black,
  6px 5px 1px black, 5px 6px 1px black,
  7px 6px 1px black;
}

.standings-table, .top-25{
  vertical-align: middle;

  .active-team{
    background-color: #f5f5f5;
  }
  :hover{
    cursor: pointer;
  }
}

ul>li.nav-item *{
    &:not(.active){
        color:black;
    }
    &:is(.active){
        font-weight: bold;
    }
}


.circular-progress {
    position: relative;
    display: inline-block;
}

.background-circle {
    stroke: #e6e6e6;
}

.progress-circle {
    transition: stroke-dashoffset 0.35s;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.team-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.percentage-text {
    display: block;
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
}
